<h1>All Recipes</h1>
<table>
    <thead>
        <tr>
            <td>Recipe Name</td>
        </tr>
    </thead>
    <tbody>
        <% @recipes.each do |recipe| %>
            <tr class="recipe-row" id="<%= dom_id(recipe) %>">
                <td class="name"><%= recipe.name %></td> <td class="cuisine"><%= recipe.cuisine %></td> <td class="time of day"><%= recipe.time %></td>
            </tr>
        <% end %>
    </tbody>
</table>